<div class="question-counts">
  Question
  <span class="count">{{question.number}}</span>
  of
  <span class="count">{{question.total_questions}}</span>
</div>

<p>{{{question.content}}}</p>

<div class="actions">
  {{#each question.answers as |answer|}}
    {{answer-button answer=answer onClick=(action 'recordResolution')}}
  {{/each}}
</div>

{{yield}}
